doctype html
html
  head
    title= jade_title
    link(rel='stylesheet', href='/stylesheets/style.css')

    ul.menu_bar
      h1.menu_bar= jade_title

      li.menu_bar
        if currHead == 'index'
          a#active Home
        else
          a.menu_bar(href='/') Home

      li.menu_bar
        if currHead == 'My Town'
          a#active My Town
        else
          a.menu_bar(href='jade_my_town') My Town

      li.menu_bar
        if currHead == 'Hourly Weather'
          a#active Hourly Weather
        else
          a.menu_bar(href='jade_hourly_weather') Hourly Weather


  body
    #body_layout
      block content
