doctype html
html
  head
    title= jade_title
    link(rel='stylesheet', href='/stylesheets/style.css')

    p.menu_panel
      a(href='/') Home
      |  |
      a(href='jade_my_town') My Town
      |  |
      a(href='jade_hourly_weather') Hourly Weather

  body
    h1= jade_title
    block content
