doctype html
html
  head
    title= jade_title
    link(rel='stylesheet', href='/stylesheets/style.css')

    p.menu_panel
      a(href='/') Home
      |  |
      a(href='my_town') My Town
      |  |
      a(href='hourly_weather') Hourly Weather

  body
    h1= jade_title
    p We keep your body healhty and leave your pockets wealthy

    block content
