body
{
    background: url("../images/main-background.jpg") fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1
{
    color: crimson;
    text-align: center;
    font-size: 400%;
    font-weight: 900;
    text-shadow:-4px 0 maroon, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 15px;
    border-radius: 25px;
    background: url("../images/header-background.jpg");
    margin: 20px;
}

h3
{
    color: crimson;
    font-size: 100%;
    alignment: right;
}

a
{
    color: #00B7FF;
}

p.membership
{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 30px;
    background: url("../images/header-background.jpg");
    padding: 10px;
    border-radius: 25px;
    font-weight: 900;
}

a
{
    color: crimson;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:active
{
    color: darkred;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:hover
{
    color:red;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}